# Bayesian Linear Regression 
Computational bayes final project.
Nathan Yee
Uma Desai

In [1]:
from __future__ import print_function, division

% matplotlib inline
import warnings
warnings.filterwarnings('ignore')

import math
import numpy as np

from thinkbayes2 import Pmf, Cdf, Suite, Joint
import thinkplot
import pandas as pd

In [3]:
df = pd.read_csv('ageVsHeight.csv', skiprows=0, delimiter='\t')
df

    age  height
0    18    76.1
1    19    77.0
2    20    78.1
3    21    78.2
4    22    78.8
5    23    79.7
6    24    79.9
7    25    81.1
8    26    81.2
9    27    81.8
10   28    82.8
11   29    83.5